body, html {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "Header Header Header "
  "Sidebar Details Content";
  height: 100%;
}

.Header {
  grid-area: Header;
  min-height: 35px;
  background-color: #2b092b;
  color: white;
  border-bottom: 1px solid black;
}

.Sidebar {
  grid-area: Sidebar;
  background-color: #1a171d;
  border-right: 1px solid black;
}

.Content {
  grid-area: Content;
  background-color: white;
}

.Details {
  grid-area: Details;
  min-width: 200px;
  overflow: auto;
  resize: horizontal;
  background-color: #3F0E40;
}

.light {
  border-radius: 1000px;
  width: 10px;
  height: 10px;
}

.search {
  width: 30%;
  height: 20px;
  font-size: 15px;
  background-color: #661a66;
  color: rgb(136, 129, 129)
}

input[type="search"]::placeholder {
  font-size: 15px;
  color: rgb(214, 203, 203)
 
}

.question-mark {
  padding-right: 9px;
  border: 1px solid white;
  border-radius: 1000px;
}

.workspace-border {
  border: 2px solid white;
}

.chat__man {
  width: 30px;
  height: 30px;
}

.data{
  width: 15%;
  text-align: center;
}